*{
    margin: 0;
    padding: 0;
}
body{
    padding-top: 56px;
    background-color: #0F0F0F;
    height: 100%;
    width: 100%;
    font-family: "Roboto Light", sans-serif;
    line-height: 20px;
}
::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-track{
    background: none;
}
::-webkit-scrollbar-thumb{
    height: 56px;
    border-radius: 8px;
    background-color: hsl(0,0%,67%);
}
::-webkit-scrollbar-thumb:hover{
    background-color: #717171;
}
.icon{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}
header.first{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    background-color: #0F0F0F;

    display: flex;
    padding: 0 16px;
    height: 56px;
    justify-content: space-between;
    align-items: center;
}
header > .left{
    display: flex;
    align-items: center;
}
header > .center{
    display: flex;
    align-items: center;

}
header > .right{
    display: flex;
    align-items: end;
}
.threeLine{
    fill: #ffffff;
    width: 24px;
    height: 24px;
    padding: 8px;
}
.logo{
    display: flex;
}
.logoIcon{
    fill: #ffffff;
    width: 97px;
    height: 20px;
    padding: 18px 14px 18px 16px;
}
.country{
    font-size: 10px;
    color: #aaaaaa;
    margin: 10px 0 0 -10px;
    width: 12px;
}
.searchBar{
    width: 540px;
    height: 40px;
    border: 1px solid hsl(0, 0%, 18.82%);
    border-radius: 40px 0 0 40px;
}
.searchElements{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 519px;
    height: 40px;
    padding: 0 4px 0 16px;
}
.textElements{
    color: #888888;
    float: left;
}
.iconElements{
    width: 19px;
    height: 12px;
    padding: 0 4px;
    filter: invert(100%);
}
.readingGlassesButton{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 38px;
    border: 1px solid #303030;
    padding: 1px 6px;
    border-radius: 0 40px 40px 0;
    background-color: #222222;
    margin-left: -1px;
}
.readingGlassesIcon{
    fill: #ffffff;
    width: 24px;
    height: 24px;
}
.voiceSearch{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-left: 8px;

    background-color: #181818;
    border-radius: 40px;
}
.voiceSearch:hover{
    background-color: #303030;
}
.voiceSearchIcon{
    fill: white;
    width: 24px;
    height: 24px;
}
.making{
    width: 40px;
    height: 40px;
    border-radius: 40px;
    margin-left: 8px;
}  .making:hover{background-color: #272727;}

.makingIcon{
    fill: white;
    width: 24px;
    height: 24px;
    padding: 8px;
}
.bell{
    width: 40px;
    height: 40px;
    border-radius: 40px;
    margin-left: 8px;
} .bell:hover{background-color: #272727;}

.bellIcon{
    fill: white;
    width: 24px;
    height: 24px;
    padding: 8px;
}
.profileIcon{
    width: 32px;
    height: 32px;
    margin: 0 8px;
    border-radius: 40px;
}
.profile{
    width: 48px;
    height: 32px;
    padding: 1px 6px;
}
.imgRadius{
    border-radius:  100%;
    overflow: hidden;
}
.forFlex{
    display: flex;
    flex-direction: row;
}
.nav{
    border: none;
}
.forMargin{
    margin-left: -10px;
}
main{
    margin-left: -7px;
}
header.second{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #0F0F0F;
    margin-left: 34px;
    position: fixed;
    width: 100%;

}
.second > .item{
    display: flex;
    justify-content: end;
    align-items: center;
    color: #f1f1f1;
    padding: 0 12px;
    margin: 12px 12px 12px 0;
    font-size: 14px;
    background: #272727;
    height: 32px;
    border-radius: 8px;
}
.second > .start{
    background-color: #f1f1f1;
    color: #0F0F0F;
    margin: 12px 12px 12px 0;
}
.second > .end{
    margin: 12px 24px 12px 0;
}
.videobox{
    padding-top: 88px;
    margin-left: 125px;
}
.item{
    display: inline-block;
    margin: 0 8px 40px 8px;
}
.yt-core-image{
    width: 360px;
    height: 200px;
    border-radius: 12px;
    overflow: hidden;
}
.about{
    display: flex;
}
.contents{
    display: inline-flex;
    flex-direction: column;
    padding-top: 10px;
}
.img{
    display: inline-flex;
    width: 36px;
    height: 36px;
    border-radius: 36px;
    margin: 12px 12px 0 0;
    overflow: hidden;
}
.title{
    color: #f1f1f1;
    font-size: 16px;
    max-width: 287px;
    margin-bottom: 5px;
}
.user{
    color: #aaaaaa;
    font-size: 14px;
}
.info{
    color: #aaaaaa;
    font-size: 14px;
}